.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #f0f0f0;
    z-index: 500;
    max-width: 600px;
    margin: 0 auto;
}

.logo {
    height: 38px;
    width: 115px;
    margin-left: 5px;
    cursor: pointer;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-icons {
    display: flex;
    gap: 0.8rem;
}

.icon-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    color: var(--primary-color);
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff4d4f;
    color: white;
    font-size: 0.6rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-select {
    min-width: 100px;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.MuiSelect-select {
    padding: 4px 12px !important;
}

.login-button {
    background-color: #f39c91;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #e57c70;
}

/* 필요한 경우 추가 스타일링 */
.header-actions {
    display: flex;
    align-items: center;
}